<div class="bg-surface-bg text-on-surface font-body-md antialiased min-h-screen flex relative">
  <!-- Overlay pour mobile (ferme le sidebar au clic) -->
  <div
    *ngIf="sidebarOpen()"
    class="fixed inset-0 bg-black bg-opacity-30 z-30 lg:hidden"
    style="opacity: 0.5"
    (click)="closeSidebar()"
  ></div>

  <!-- Sidebar -->
  <div
    [ngClass]="{
      fixed: true,
      'lg:static': true,
      'inset-y-0': true,
      'left-0': true,
      'z-40': true,
      'w-[280px]': true,
      transform: true,
      'transition-transform': true,
      'duration-300': true,
      '-translate-x-full': !sidebarOpen(),
      'translate-x-0': sidebarOpen(),
      'lg:translate-x-0': true,
    }"
  >
    <app-sidebar (navigationClick)="closeSidebar()"></app-sidebar>
  </div>

  <!-- Main Content -->
  <div class="flex-1 flex flex-col w-full lg:w-auto">
    <!-- Header -->
    <app-header (toggleSidebar)="toggleSidebar()"></app-header>

    <!-- Page Content -->
    <div class="flex-1 flex flex-col min-w-0 overflow-auto">
      <ng-content>
        <router-outlet />
      </ng-content>
    </div>
  </div>
</div>
